<%= sortable("title", "ordenar por Titulo") %><br />

<% @books.each do |book| %>
  <hr />
  <div class="well row">
    <div class="right"><span class="small" >Autor: <%= book.author %></span></div>
    <p class="book-image"><%= image_tag book.image.medium.url %></p>
    <p class="book-title"><%= book.title %></p>
    <p class="book-comment"><%= book.description %></p>
  </div>
<% end -%>

<%= will_paginate @books %>
