<%= form_tag(books_path, method: :get, id: 'books_search') do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <div class="form-group">
    <div class="field">
      <div class="col-md-10"><%= text_field_tag :term, params[:term], class: "form-control term_search" %></div>
      <div class="col-md-2"><%= submit_tag 'Buscar', class: 'btn btn-primary' %></div>
    </div>
  </div>
<% end %>
