<h2>Livros</h2>

<div>
  <% if current_user.is_admin? %>
    <%= link_to('Novo Livro', new_book_path, class: 'btn btn-primary')%>
  <% end %>
</div>
<hr />
<% @books.each do |book| %>
  <div class="well row">
    <div class="right"><span class="small" ><%= book.title %></span></div>
    <p class="book-comment"><%= book.description %></p>
    <p class="book-comment"><%= book.author %></p>
    <p class="book-comment"><%= image_tag book.image.thumb.url %></p>
  </div>
<% end -%>
